@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground border;
  }

  :root {
    --radius: 0.5rem;

    --background:	 hsl(36, 50%, 96%);
    --foreground: hsl(0, 0%, 30%);
    --border: hsl(27 30% 85%);
    --input: hsl(27 30% 85%);
    --ring: hsl(27 25% 25%);

    --primary: hsl(110, 35%, 55%);
    --primary-muted: hsl(110, 25%, 75%);
    --primary-foreground: hsl(0, 0%, 96%);

    --secondary: hsl(218, 60%, 54%);
    --secondary-muted: hsl(218, 55%, 62%);
    --secondary-active: hsl(218, 64%, 62%);
    --secondary-disabled: hsl(218, 64%, 62%);
    --secondary-foreground: hsl(0, 0%, 96%);

    --popover: hsl(27 30% 99%);
    --popover-foreground: hsl(27 25% 25%);

    --muted: hsl(0, 0%, 90%);
    --muted-foreground: hsl(27 25% 60%);

    --accent: hsl(170, 35%, 75%);
    --accent-foreground: hsl(27 25% 25%);

    --highlight: hsl(50, 85%, 65%);
    --highlight-active: hsl(45, 90%, 45%);
    --highlight-disabled: hsl(51, 64%, 74%);
    --highlight-foreground: hsl(45, 20%, 20%); 

    --success: hsl(82, 45%, 55%);
    --success-active: hsl(82 40% 50%);
    --success-disabled: hsl(82 15% 75%);
    --success-foreground: hsl(82 45% 20%);

    --info: hsl(200, 45%, 60%);
    --info-active: hsl(200 40% 55%);
    --info-disabled: hsl(200 15% 75%);
    --info-foreground: hsl(200 45% 25%);

    --warn: hsl(35, 55%, 65%);
    --warn-active: hsl(35 70% 60%);
    --warn-disabled: hsl(35 25% 75%);
    --warn-foreground: hsl(35 45% 25%);

    --destructive: hsl(15, 55%, 55%);
    --destructive-active: hsl(15 70% 50%);
    --destructive-disabled: hsl(15 25% 75%);
    --destructive-foreground: hsl(15 45% 98%);
  }

  .dark {
    --background: hsl(27 25% 12%);
    --foreground: hsl(27 15% 90%);
    --border: hsl(27 15% 25%);
    --input: hsl(27 15% 25%);
    --ring: hsl(27 15% 90%);

    --primary: hsl(42 45% 30%);
    --primary-muted: hsl(42 45% 20%);
    --primary-foreground: hsl(20 14.3% 95%);

    --secondary: hsl(27 25% 15%);
    --secondary-muted: hsl(27 30% 18%);
    --secondary-active: hsl(27 30% 18%);
    --secondary-disabled: hsl(27 15% 25%);
    --secondary-foreground: hsl(27 15% 90%);

    --popover: hsl(27 25% 15%);
    --popover-foreground: hsl(27 15% 90%);

    --secondary: hsl(27 30% 18%);
    --secondary-foreground: hsl(27 15% 90%);

    --muted: hsl(27 30% 18%);
    --muted-foreground: hsl(27 15% 65%);

    --accent: hsl(27 30% 18%);
    --accent-foreground: hsl(27 15% 90%);

    --highlight: hsl(174 50% 40%);
    --highlight-active: hsl(174 55% 35%);
    --highlight-disabled: hsl(174 15% 30%);
    --highlight-foreground: hsl(174 70% 90%);

    --success: hsl(82 30% 35%);
    --success-active: hsl(82 35% 30%);
    --success-disabled: hsl(82 15% 25%);
    --success-foreground: hsl(82 35% 90%);

    --info: hsl(200 30% 40%);
    --info-active: hsl(200 35% 35%);
    --info-disabled: hsl(200 15% 25%);
    --info-foreground: hsl(200 35% 90%);

    --warn: hsl(35 55% 45%);
    --warn-active: hsl(35 60% 40%);
    --warn-disabled: hsl(35 20% 25%);
    --warn-foreground: hsl(35 35% 90%);

    --destructive: hsl(15 55% 45%);
    --destructive-active: hsl(15 60% 40%);
    --destructive-disabled: hsl(15 20% 25%);
    --destructive-foreground: hsl(15 35% 90%);
  }
}

@font-face {
  font-family: "Licorice";
  src: url("/fonts/Licorice/Licorice-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora/Lora-VariableFont_wght.ttf");
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora/Lora-Italic-VariableFont_wght.ttf");
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Nephilm";
  src: url("/fonts/Nephilm/Nephilm.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Nephilm";
  src: url("/fonts/Nephilm/Nephilm_Italic.otf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Objectivity";
  src: url("/fonts/Objectivity/Objectivity-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Objectivity";
  src: url("/fonts/Objectivity/Objectivity-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Objectivity";
  src: url("/fonts/Objectivity/Objectivity-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Objectivity";
  src: url("/fonts/Objectivity/Objectivity-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@keyframes pulse-slow {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
