@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura/futura-medium.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cedarville_Cursive";
  src: url("/fonts/Cedarville_Cursive/CedarvilleCursive-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Holland_Land";
  src: url("/fonts/Holland_Land/Holland-Land.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  font-style: "normal";
  font-weight: "normal";
  font-display: swap;
}

@font-face {
  font-family: "Bitter";
  src: url("/fonts/Bitter/Bitter-VariableFont_wght.ttf");
  font-style: "normal";
  font-weight: "normal";
  font-display: swap;
}

@font-face {
  font-family: "Libre_Franklin";
  src: url("/fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf");
  font-style: "normal";
  font-weight: "normal";
  font-display: swap;
}

@font-face {
  font-family: "Licorice";
  src: url("/fonts/Licorice/Licorice-Regular.ttf");
  font-style: "normal";
  font-weight: "normal";
  font-display: swap;
}

@font-face {
  font-family: "Nanum_Myeongjo";
  src: url("/fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf");
  font-style: "normal";
  font-weight: "normal";
  font-display: swap;
}

@font-face {
  font-family: "Alegreya_Sans";
  src: url("/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf");
  font-style: "normal";
  font-weight: "normal";
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
  font-style: "normal";
  font-weight: "normal";
  font-display: swap;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 197 14% 56%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
  }

  .sunset {
    --background: 35 100% 98%;
    --foreground: 20 14.3% 4.1%;

    --card: 35 100% 96%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 35 100% 98%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 20 80% 48%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 35 100% 94%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 35 100% 94%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 20 80% 48%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 35 100% 90%;
    --input: 35 100% 90%;
    --ring: 20 80% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
